/* Main CSS file that is applied to all pages. Most of it is layout */

body{
    margin: 0;
    padding: 0;
    background: #B9FFEE;
}

#wrapper{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    grid-template-rows: .5fr 10fr .5fr;
}

/* Header - Start */

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #58E2C4;
    max-height: 5rem;
}

#nav-brand{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
    padding-left: 2rem;
}

#nav-brand a{
    text-decoration: none;
    color: #276055;
    width: 25%;
    height: 100%;
    font-size: 20pt;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 5rem;
}

nav a{
    text-decoration: none;
    background: #37876F;
    color: #66FFDB;
    width: 100%;
    height: 100%;
}

nav a:hover{
    background: #66FFDB;
    color: #276055;
}

/* Header - End */

/* Content - Start */

main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-wrap{
    flex-wrap: wrap
}

.content-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 20rem;
    min-height: 15rem;

    background: #58E2C4;

    padding: 1rem;
    margin-top: 1rem;
}

/* Content - End */

/* Footer - Start */

footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #58E2C4;
    color: #276055;
    padding: 0 2rem;
    margin: 0;
    text-align: right;
    max-height: 5.05rem;
}

/* Footer - End */